:root {
  --backgroundColor: #252330;
  --textColor: #ffffff;
  --secondColor: #E76963;
  --margin: 1.5rem;
  --fontFam: 'Roboto';
  --fontTitle: 500;
  --fontRegular: .8rem; /* 18px */
  --fontMedium: 1.25rem; /* 20px */
  --fontBig: 2rem; /* 28px */
  --fontNormal: 100;
  --fontBold: 700;
  --alignCenter: center;
}
